/target/
*.jar
*.war

.mvn/
!**/mvn/wrapper/**

*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.iml
.vscode/

*.env
.env*
!*.env.example

/test-output/
/surefire-reports/
/jacoco.exec

.idea/
*.iws
*.ipr
*.iml
*.DS_Store
*.code-workspace

Thumbs.db
ehthumbs.db
Desktop.ini
bash.exe.stackdump

*.log
*.stackdump

/build/
/out/
/dist/

*.tsbuildinfo